# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*Debug/
*Release/
*.metadata/
*.log
*.log.*
*~
*#
/doc/schematic/ThetaMonitorF401CEU/ThetaMonitorF401CEU-backups/
*__pycache__
/Framework/example
/SBC/ThetaMonitorSerial/tests/data/temp
/SBC/ThetaMonitorSerial/data/output
/SBC/ThetaMonitorSerial/data/temp
/SBC/ThetaMonitorSerial/.idea/
/SBC/ThetaMonitorDaemon/tests/data/temp
/SBC/ThetaMonitorDaemon/data/output
/SBC/ThetaMonitorDaemon/data/temp
/SBC/ThetaMonitorDaemon/.idea/
/SBC/SqlDumps
/x86/TableIdProgrammer/ID_TableTestRelayConfig.txt
/Micro_toDelete/

